body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #ff0000;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}

img {
    border-radius: 10px;
}

ul {
    list-style-position: inside;
}

footer {
    background-color: #0c8727;
    color: rgb(255, 255, 255);
    padding: 10px;
}
